@import 'http://bourbon.io/';
@font-face {
  font-family: 'avenir-r';
  src: url("../fonts/AvenirNextLTPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'avenir-b';
  src: url("../fonts/AvenirNextLTPro-Demi.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Demi.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url(../img/ripple.gif) no-repeat center center;
}

.js div#preloader no-svg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url(../img/ripple.gif) no-repeat center center;
}

#svg-wrapper {
  height: 100vh;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1001;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: -10;
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.5s 0.5s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 2s ease-out;
}

.white {
  background: white;
}

.pantalla {
  background: black;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 9999999999;
}

.retire {
  background: none !important;
}

.initial svg {
  position: relative;
  top: 15%;
  height: 60%;
}

.resize {
  position: relative;
  top: -15%;
  height: 125%;
  transition: all 0.5s;
}

svg {
  width: 100%;
  height: 100%;
}

.primary-slide .carousel {
  height: 100%;
}

.primary-slide .carousel .carousel-inner {
  overflow: hidden;
}

@media only screen and (min-width: 1281px) {
  .primary-slide .carousel .carousel-inner {
    max-height: 87vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .primary-slide .carousel .carousel-inner {
    max-height: 40vh;
  }
}

@media handheld, only screen and (min-width: 481px) and (max-width: 768px) {
  .primary-slide .carousel .carousel-inner {
    max-height: 300px;
  }
}

@media handheld, only screen and (max-width: 480px) {
  .primary-slide .carousel .carousel-inner {
    max-height: 170px;
  }
}

.primary-slide .carousel .carousel-inner img {
  width: 100%;
  height: auto;
}

.primary-slide .carousel .carousel-inner .item .carousel-caption {
  top: 5%;
  text-shadow: none;
}

.primary-slide .carousel .carousel-inner .item .carousel-caption a {
  color: #555555;
}

.primary-slide .carousel .carousel-inner .item .carousel-caption a:hover {
  text-decoration: none;
  color: black;
}

.primary-slide .carousel .carousel-inner .item .carousel-caption p, .primary-slide .carousel .carousel-inner .item .carousel-caption h2 {
  background: #f4ea05;
  margin: 0;
  padding: 5px;
}

.primary-slide .carousel .carousel-inner .item .carousel-caption hr {
  margin: 0;
  border: 1px solid #555555;
}

@media handheld, only screen and (max-width: 480px) {
  .primary-slide .carousel .carousel-inner .item .carousel-caption h2 {
    font-size: 24px;
    line-height: 110%;
  }
}

.toggleHeading {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -moz-transition: none !important;
}

.toggleCaption {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-transition: none !important;
}

.carousel-indicators li {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  transition: .5s ease;
}

.carousel-indicators .active {
  width: 20px;
  height: 20px;
  background: #f4ea05;
}

img.alignright {
  float: right;
  margin: 1em 0 2em 2em;
}

img.alignleft {
  float: left;
  margin: 1em 2em 2em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  position: absolute;
}

.navbar-nav li a {
  line-height: 50px;
}

.navbar-nav li a:hover {
  color: #f4ea05;
  text-decoration: underline;
}

.navbar-default .navbar-form {
  padding: 15px 0 0 0;
}

.navbar-default {
  padding: 5px 0 0 0;
  background: white;
  border: none;
}

.navbar {
  margin: 0;
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  max-height: 60px;
  width: auto;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: white;
  color: #f4ea05;
  text-decoration: underline;
  font-weight: 600;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background: #f4f4e7;
  color: #555555;
}

html, body {
  width: 100%;
  height: 100%;
  color: #555555;
}

body {
  line-height: 1;
  letter-spacing: .5px;
}

@media handheld, only screen and (max-width: 480px) {
  body {
    text-align: center;
  }
}

p, a {
  line-height: 120%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box !important;
}

a {
  text-decoration: none;
  color: #55478e;
}

.dn {
  display: none;
}

.fl {
  float: left !important;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.cb {
  clear: both;
}

a:hover {
  color: black;
}

.hovernav {
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

.main-noticias,
.main-talleres {
  width: 100%;
  margin: 25px 0 5px 0;
  display: table;
}

.section-title {
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.section-title h1 {
  margin-bottom: 0;
  background: #f4f4e7;
  padding-left: 10px;
}

.section-title small {
  padding: 5px 0  0 10px;
  text-decoration: underline;
}

.noticias article,
.talleres article {
  position: relative;
  transition: .5s ease;
  margin-bottom: 30px;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .noticias article,
  .talleres article {
    min-height: 320px;
  }
}

@media only screen and (min-width: 1281px) {
  .noticias article,
  .talleres article {
    min-height: 300px;
  }
}

.noticias article hr,
.talleres article hr {
  margin: 5px 0 5px 0;
  border: 1px solid #555555;
}

.noticias article h3,
.talleres article h3 {
  color: #555555;
}

.noticias article .spam,
.talleres article .spam {
  background: #555555;
  width: 100%;
  padding: 1px 0 1px 5px;
  color: white;
}

.noticias article strong,
.talleres article strong {
  font-size: 12px;
}

.noticias article ul,
.talleres article ul {
  padding: 0;
  margin: 0;
}

.noticias p,
.talleres p {
  margin-bottom: 10px;
}

.thu-content {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  max-height: 200px;
  padding: 0;
  display: block;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .thu-content {
    max-height: 160px;
  }
}

.thu-content img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  padding: 0;
  margin: 0;
}

.thu-content .clip-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  background: white;
  transition: all 0.2s ease-out;
}

.thu-content .clip-mask:hover {
  opacity: .6;
}

.single-img {
  padding: 0;
  max-height: 70vh;
  overflow: hidden;
  margin-bottom: 25px;
}

.single-img .img-bg img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin: -20% 0 0 0;
}

.single-img .wrap-title {
  margin: 0 auto;
  max-width: 60%;
  background: #f4ea05;
  position: relative;
  margin-top: 2%;
}

.single-img .wrap-title .img-title {
  text-align: center;
}

.single-img .wrap-title h2, .single-img .wrap-title h3, .single-img .wrap-title h4, .single-img .wrap-title h5, .single-img .wrap-title h6 {
  margin: 15px 0 0 0;
  padding: 5px;
}

.single-img .wrap-title hr {
  border: 1px solid #555555;
  margin: 0;
  padding: 0;
}

.single-img .wrap-title p {
  padding: 1px 15px 1px 15px;
}

.single single-content {
  margin-bottom: 45px;
}

.sidebar {
  border-top: 1px solid #555555;
  margin-top: 25px;
}

.sidebar section {
  margin-bottom: 10px;
  border-bottom: 1px solid #555555;
  padding: 5px;
}

.categories-2 label.screen-reader-text {
  display: none;
}

.reciente .reciente-title h3 {
  background: #f4f4e7;
  padding: 10px;
}

.reciente article {
  padding: 5px 5px 0 5px;
}

.reciente article ul {
  padding: 0;
}

.reciente article ul .thu-content {
  height: 180px;
  overflow: hidden;
}

.reciente article ul .title-articulo {
  background: #f4f4e7;
  padding: 2px 0 2px 15px;
}

.comentarios {
  padding-top: 15px;
}

.contacto #modalbox {
  border-radius: 0;
  opacity: 0.96;
}

.contacto #social-media ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.contacto #social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

.contacto #social-media ul li a:hover {
  text-decoration: none;
}

.contacto #social-media ul li span {
  font-size: 25px;
  color: #f4ea05;
}

.contacto #social-media ul li span:hover {
  color: #555555;
}

.contacto .btn-contacto {
  width: 100%;
  margin: 25px 0;
  border-radius: 0;
  font-size: 15px;
  font-weight: bold;
}

.contacto h3 {
  letter-spacing: 5px;
  font-weight: bold;
}

.wpcf7 {
  text-align: center;
  margin: 0 auto;
}

.wpcf7 textarea,
.wpcf7 input {
  width: 80%;
  margin: 0 auto;
}

.wpcf7 input[type=submit] {
  background: #f4ea05;
}

.wpcf7 {
  margin: 0 auto;
  text-align: center;
  margin: 0 0 25px 0;
}

.wpcf7 input[type=submit] {
  margin: 10px;
  width: 200px;
  background: #f4ea05;
  border: none;
  height: 60px;
}

.wpcf7 input[type=submit]:hover {
  background: #555555;
  color: white;
}

.wpcf7 textarea,
.wpcf7 input {
  max-width: 500px;
}

#recaptcha {
  width: 304px;
  margin: 0 auto;
}

#recaptcha_area, #recaptcha_table {
  margin: 0 auto !important;
}

.wrap-footer {
  margin: 20px 0 0 0;
  min-height: 300px;
  width: 100%;
}

.wrap-footer h1 {
  margin: 20px 0 5px 0;
}

.wrap-footer .visit {
  margin: 0 0 20px 0;
}

.wrap-footer .social-footer {
  margin: 25px;
}

.wrap-footer .copy {
  font-size: 12px;
}

.wrap-footer .est {
  font-size: 14px;
}

@media handheld, only screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}

footer hr {
  margin: 0;
}

footer h1 {
  font-size: 30px;
  color: grey;
}

footer h2 {
  color: grey;
  margin-bottom: 20px;
}

footer a {
  color: grey;
}

footer a:hover {
  text-decoration: none;
}

footer a h3 {
  font-size: 18px;
  color: grey;
  font-weight: bold;
  margin: 13px 0;
}

footer #bordertop-footer {
  width: 95%;
}

footer #borderright-footer {
  margin: 15px 0;
  height: 190px;
}

@media only screen and (min-width: 768px) {
  footer #borderright-footer {
    border-right: 1px solid grey;
  }
}

footer .social {
  display: block;
  float: left;
}

footer .social .facebook {
  margin: 0 10px 0 0;
}

footer .social .instagram {
  margin: 0 10px 0 0;
}

footer .social .twitter {
  margin: 0 10px 0 0;
}

footer .pago {
  margin: 15px 0;
  height: 190px;
}

@media only screen and (min-width: 768px) {
  footer .pago {
    border-left: 1px solid grey;
  }
}

footer .pago h3 {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: grey;
}

footer .pago ul {
  text-align: right;
}

.mad-rep {
  margin: 0;
  padding: 0;
}

.mad-rep ul {
  padding: 0;
  margin: 0 0 15px 0;
}

.mad-rep ul li {
  max-height: 250px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.mad-rep ul li img {
  width: 100%;
  height: auto;
  border: 0;
}

.mad-rep ul li h3 {
  padding: 0 0 0 25px;
}

.mad-rep ul li p {
  padding: 0 0 0 25px;
}

/*# sourceMappingURL=style.css.map */
