@import 'http://bourbon.io/'; // http://bourbon.io/
@import 'partials/media'; // Media Queries MQ(s,m,l,xl)
@import 'partials/mixins'; // centrado vertical/horizontal y fallback fuentes
@import 'partials/variables'; // colores, tipos de letra y personalizados
@import 'modules/loader';
.navbar-nav li a{
    line-height: 50px;
    margin-right: 5px;
}
.navbar-default .navbar-form{
    padding: 15px 0 0 0;
}
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
