.primary-slide{
    .carousel{
        .carousel-inner{
            max-height: 87vh;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
        .item{
            .caption{
                position: absolute;
            }
        }
    }
}
