nav{position: absolute;}
.navbar-nav {
    li{
        a{
            line-height: 50px;
            &:hover{
                color: #ebd000;
                text-decoration: underline;
            }
        }
    }
}
.navbar-default .navbar-form{
    padding: 15px 0 0 0;
}
.navbar-default {
    padding: 5px 0 0 0;
    background: white;
    border: none;
}


.navbar{
    margin: 0;
}
.navbar-brand{
    height: auto;
    img{
        max-height: 60px;
        width: auto;
    }
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: white;
    color: $color-3;
    text-decoration: underline;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background: $color-2;
    color: $color-1;
}
