.navbar-default .navbar-form{
    padding: 15px 0 0 0;
}
.navbar-default {
    padding: 5px 0 0 0;
    background: white;
    border: none;
    .navbar-nav {
        @include MQ(LXL){
            padding: 20px 0 0 0;
        }
            font-weight: $bold;
        li {
            height: 50px;
            transition: 1s ease;
            &:hover {
                background: $color-3;
                color: $color-4;
            }
            a {
                transition: 1s ease;
                height: 50px;
                &:hover {
                    background: $color-3;
                    color: $color-4;
                }
            }
            .dropdown-menu{
                padding: 0;
                li{
                    a{

                    }
                }
                .active{
                    a{
                        background: $color-2;
                        color: $color-4;
                        &:focus,
                        &:hover{
                        }
                    }
                }
            }
        }
        .active {
            a {
                background: $color-2;
                &:focus {
                }
                &:hover {
                }
            }
        }
    }
}


.navbar{
    margin: 0;
}
.navbar-brand{
    height: auto;
    img{
        max-height: 60px;
        width: auto;
    }
}
