nav{position: absolute;}
.navbar-nav li a{
    line-height: 50px;
    margin-right: 5px;
}
.navbar-default .navbar-form{
    padding: 15px 0 0 0;
}
.navbar-default {
    padding: 5px 0 0 0;
    background: white;
    border: none;
}
