img.alignright {
    float: right;
    margin: 1em 0 2em 2em;
}
img.alignleft {
    float: left;
    margin: 1em 2em 2em 0;
}
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
